<main>
  <app-dashboard></app-dashboard>
  <div class="main">
    <div class="create">
      <tr>
        <h1>Alicuotas</h1>
      </tr>
      <tr>
        <p-button (click)="crear()">Crear</p-button>
      </tr>
    </div>
    <p-table [value]="lote" class="table">
      <ng-template pTemplate="header" class="header">
        <tr>
          <th>Usuario</th>
          <th>Numero de lote</th>
          <th>Años</th>
          <th>Meses</th>
          <th>Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lote class="body">
        <tr>
          <th>{{ lote.user.name }}</th>
          <th>{{ lote.number }}</th>
          <th>{{ lote.time.year.name }}</th>
          <th>{{ lote.time.detail.mounth.name }}</th>
          <th>
            <!-- <p-button
              label="Eliminar"
              severity="danger"
              (click)="deleteLote()"
            ></p-button> -->
            <p-button
              label="Actualizar"
              severity="info"
              (click)="updateAlicuota(lote.id)"
            ></p-button>
          </th>
        </tr>
      </ng-template>
    </p-table>
  </div>
</main>
