.menu{
    margin: 0;
    padding: 0;
    background-color: black;
    width: 250px;
    height: 100vh;
    color:white;

}
h1{
    margin-left: 10px;
}
.bar{
    margin-left: 20px;
    margin-top: 30px;
    width: 100px;
}
a{
    color: white;
    text-decoration: none;
    transition: .3s;
}
li{
    list-style:none;
    margin: 5px;
}
a:hover{
    margin-left: 25px;
}

main{
    display: flex;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.botones{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}