<div class="main">
  <div class="photo">
    <img src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="">
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card">
      <h1>Login</h1>
      <div class="field ">
        <label for="email">Email:</label><br>
        <input pInputText id="email" formControlName="email" class="w-20rem" />
      </div>
      <div class="field">
        <label for="password">Contraseña:</label><br>
        <p-password
          id="password"
          formControlName="password"
          [feedback]="false"
          [maxLength]="9"
          [inputStyle]="{ width: '320px' }"
        ></p-password>
      </div>
      <p-button label="Entrar" (click)="onSubmit()"></p-button>
      </div>
  </form>
</div>
