.menu{
    margin: 0;
    padding: 0;
    background-color: black;
    width: 250px;
    height: 100vh;
    color:white;

}

.bar{
    margin-top: 30px;
    width: 100px;
}
a{
    color: white;
    text-decoration: none;
    transition: .3s;
}
li{
    list-style:none;
    margin: 5px;
}
a:hover{
    margin-left: 25px;
}
.table{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p-table{
    display: block;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 90vh;
    width: 90%;
}
main{
    display: flex;
}
.create{
    width: 90%;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
